{% extends "base.html" %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 py-5">
        <img class="rounded mx-auto d-block" src="{{ SITEURL }}/images/pbarker.jpg" />
    </div>
    <div class="col-md-6 py-4">
        <h1>Paul Barker</h1>
        <p>Open Source and Embedded Linux Consultant</p>
        <p><a href="https://www.konsulko.com/">Konsulko Group</a> (USA & International)</p>
        <p><a href="https://www.betafive.co.uk/">Beta Five Ltd</a> (UK)</p>
        <p><a href="https://www.yoctoproject.org/">Yocto Project</a> contributor and <a href="https://www.openembedded.org/wiki/Main_Page">OpenEmbedded</a> member</p>
        <p><a href="https://gitlab.com/pbarker.dev">Personal Projects</a></p>
        <p><a href="https://twitter.com/pbarker_dev">Twitter</a></p>
        <p><a href="https://www.linkedin.com/in/paul-barker/">LinkedIn</a></p>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-8 page-content">
        <div>
            <h2>Posts</h2>
            <hr />
        </div>
        {% for article in articles_page.object_list %}
        <div>
            <h3 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
            <p class="post-meta">Published <time datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%Y-%m-%d') }}</time></p>
            <div class="post-summary">
                {{ article.summary }}
            </div>
            <p><a href="{{ SITEURL }}/{{ article.url }}">Read more</a></p>
            <hr />
        </div>
        {% endfor %}
        <div class="float-right">
            <a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a>
        </div>
    </div>
    <div class="col-md-4 py-4">
        <a class="twitter-timeline" href="https://twitter.com/pbarker_dev?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock content %}
